@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
  line-height: 1.4;
  color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #3a3d3f;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  list-style: none;
}

.nav-list li a {
  display: block;
  font-size: 1.6rem;
  padding: 1.8rem;
  color: #c0bfbf;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40 0%, #57837b 100%);
}

.lead {
  font-size: 1.8rem;
}

#projects {
  text-align: center;
  padding: 10rem 2rem;
  background-image: linear-gradient(62deg, #3a3d40 0%, #c9d8b6 100%);
}

#projects h2 {
  font-size: 3rem;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #f0f0f0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project {
  background: #404953;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 4px;
}
.project-title {
  padding-top: 10px;
  font-size: 1.5rem;
}
.project-img {
  height: calc(100% - 5rem);
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 1.2rem;
  background: #404953;
}
.btn-show-all > i {
  margin-left: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 0 2rem;
  background-color: #37524dbd;
}

.contact-section h2 {
  font-size: 4rem;
  padding-bottom: 1.2rem;
}

.contact-section p {
  font-size: 2rem;
  padding-bottom: 1.2rem;
}

.contact-section a {
  font-size: 1.3rem;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #404953;
  border-top: 4px solid #bbc7ab;
}

@media screen and (max-width: 540px) {
  body {
    font-size: 0.2rem;
  }

  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-list {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .nav-list li a {
    padding: 10px;
    font-size: 1.5rem;
  }

  #welcome-section {
    height: 80vh;
    width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  .lead {
    font-size: 1.2rem;
  }

  #projects h2 {
    font-size: 1.5rem;
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 2rem ;
  }

  .contact-section h2 {
    font-size: 2.2rem;
  }
  .contact-section p {
    font-size: 1.2rem;
  }
  .contact-section a {
    font-size: 1.2rem;
    display: block;
  }

  footer {
    display: block;
    font-size: 1rem;
  }

}
