@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: "PT Sans", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  margin: 2rem;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.4fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "footer footer footer footer";
  row-gap: 0.7rem;
  column-gap: 0.7rem;
}

/* Navbar */
.nav-bar {
  grid-area: nav;
  display: flex;
  margin: 2rem;
  justify-content: space-around;
}

.nav-bar h1 {
  font-size: 3rem;
  background: -webkit-linear-gradient(#9b72aa, #c6b4ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Festive", cursive;
}

.nav-bar ul li {
  display: inline-block;
  padding-right: 2rem;
  padding-top: 1.6rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-bar ul li a {
  color: #3c5186;
}

/* Sidebar */

#sidebar {
  background: #fff5de;
  border-radius: 10px;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar h4 {
  color: #3c5186;
  padding-top: 40px;
  padding-bottom: 25px;
}

#sidebar ul li {
  padding: 1rem;
}

/* Contents */
.card {
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  padding-bottom: 20px;
  color: #3c5186;
}

.card img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.recipe-info {
  padding: 20px;
  text-align: center;
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#content5 {
  grid-area: content5;
}

#content6 {
  grid-area: content6;
}

/* footer */
footer {
  grid-area: footer;
  width: 100px;
  height: 100px;
}
